.dashboard {
  padding: 20px;
}

.card {
  margin-top: 30px;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin-top: 15px;
}

.card button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #0364C9;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.card button:hover {
  background-color: #024ea1;
}
