.user-form-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(41, 3, 3, 0.616);
}

.user-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-form-container input,
.user-form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-form-container button {
  width: 100%;
  padding: 10px;
  background: #0364c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-form-container button:hover {
  background: #024fa0;
}

/* Imagen */
.preview-box {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.preview-box img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #0364c9;
}

/* FILAS DE CAMPOS */
.form-row {
  display: flex;
  gap: 10px;
}

.form-row input,
.form-row select {
  flex: 1;
}

/* Responsive */
@media (max-width: 480px) {
  .form-row {
    flex-direction: column;
  }
}
