.user-list-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(41, 3, 3, 0.616);
}

.user-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-list-container input,
.user-list-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-list-container button {
  width: 100%;
  padding: 10px;
  background: #0364c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-list-container button:hover {
  background: #024fa0;
}

/* FILAS DE CAMPOS */
.list-row {
  display: flex;
  gap: 10px;
}

.list-row input,
.list-row select {
  flex: 1;
}

/* Responsive */
@media (max-width: 480px) {
  .list-row {
    flex-direction: column;
  }
}
