.navbar {
  background-color: #0364C9;
  padding: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Botones normales */
.nav-button {
  padding: 10px 18px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover */
.nav-button:hover {
  background-color: #ffffff;
  color: #0364C9;
}

/* Ruta activa */
.nav-button.active {
  background-color: #ffffff;
  color: #0364C9;
}

/* Botón cerrar sesión */
.nav-buttonb {
  margin-left: auto;
  padding: 10px 30px;
  border-radius: 100px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.nav-buttonb:hover {
  background-color: #ffffff;
  color: #0364C9;
}
